@{
    ViewBag.Title = "公司角色维护";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .modal-body {
        height: 230px;
    }
</style>

<div>
    <div>
        <div class="col-*-12">
            <div id="toolbar" class="toolbar">
                <div style="float: right; margin-right: 10px; margin-top: 5px; " class="btn btn-primary" data-toggle="modal" data-target="#addModal" id="NewRecord">添加记录</div>
            </div>

            <table id="mytab" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="addModalLabel">添加记录</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                角色名称：<input type="text" class="form-control" id="iName" data-bind="value: iName" placeholder="请输入角色名称">
                            </div>
                            <div class="form-group">
                                角色备注：<input type="text" class="form-control" id="iNote" data-bind="value: iNote" placeholder="请输入角色备注">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="removeRecord">删除</button>
                            <button type="button" class="btn btn-primary" id="SaveChanges">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="setRoleUserModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">设置角色用户</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="settingRoleId" />
                            @{
                                foreach (var item in ViewBag.Companies)
                                {
                                    <label>@item.iName<input name="RoleUsers" id="@item.iGuid" />&nbsp; &nbsp;</label>
                                }
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="SetRoleUsersSaveChanges">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //设置角色用户
    function SetRoleUser(iguid) {
        $('#settingRoleId').val(iguid);
        $.get("/ManageAjax/GetRoleUsers?roleid=" + iguid, function (result) {
            if (result.success) {
                $.each(result.data, function (index, item) {
                    $("#" + item.iCompanyId).val(item.iUsers);
                });
                $('#setRoleUserModal').modal('toggle');
            }
            else {
                console.log(result.msg);
                toastr.error('获取数据失败！');
            }
        });
    }
    //json 日期转字符串
    function ChangeDateFormat(jsondate) {
        if (!jsondate) return "";
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

        return date.getFullYear()
            + "-"
            + month
            + "-"
            + currentDate
            + " "
            + date.getHours()
            + ":"
            + date.getMinutes();
    }
    //bootstraptable 高度
    function tableHeight() {
        return $(window).height() * 0.86;
    }
    function ViewModel() {
        var self = this;
        self.iGuid = ko.observable("");
        self.iName = ko.observable("");
        self.iNote = ko.observable("");
        self.iCreatedOn = ko.observable("");
        self.iCreatedBy = ko.observable("");
        self.iUpdatedOn = ko.observable("");
        self.iUpdatedBy = ko.observable("");
        self.iStatus = ko.observable("1");
        self.iIsDeleted = ko.observable("0");
    }
    $(function () {
        //Mvvm绑定
        var myViewModel = new ViewModel();
        ko.applyBindings(myViewModel);
        //重置函数
        $("div.icon-reorder").click(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //根据窗口调整表格高度
        $(window).resize(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //必填,唯一校验
        $("#iName").change(function () {
            var value = $("#iName").val();
            var param = {};
            param.iName = value;
            $.ajax({
                url: "/ManageAjax/CheckRoleValid",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "valid") {
                        if ($('#iName').hasClass("warning")) {
                            $('#iName').removeClass("warning");
                        }
                    }
                    else {
                        $('#iName').addClass("warning");
                    }
                }
            });
        });

        $('#mytab').bootstrapTable({
            url: "/ManageAjax/GetAllRoles",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "iUpdatedOn",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: true,//ENTER键搜索
            height: tableHeight(),//高度调整
            search: true,//是否搜索
            pagination: true,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 50, 100, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            queryParams: function getParams(params) {
                return params;
            },
            searchOnEnterKey: false,//回车搜索
            showRefresh: true,//刷新按钮
            showColumns: true,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            columns: [
                {
                    field: "iGuid",
                    title: "iGuid",
                    visible: false, switchable: false
                },
                {
                    field: "iName",
                    title: "角色名称",
                    sortable: true
                },
                {
                    field: "iNote",
                    title: "角色备注",
                    sortable: true
                },
                {
                    field: "iUpdatedOn",
                    title: "最近修改时间",
                    sortable: true,
                    formatter: function (value, row, index) {
                        return ChangeDateFormat(value);
                    }
                }, {
                    field: "operation",
                    title: "操作",
                    sortable: false,
                    formatter: function (value, row, index) {
                        return '<a href="#" onclick="SetRoleUser(\'' + row.iGuid + '\')">点击设置角色用户</a>';
                    }
                }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
                $('#iName').addClass("warning");
                myViewModel.iGuid(row.iGuid);
                myViewModel.iName(row.iName);
                myViewModel.iNote(row.iNote);
                $('#addModal').modal('toggle');
            },
            locale: "zh-CN",//中文支持,
            detailView: false, //是否显示详情折叠
            detailFormatter: function (index, row, element) {
                var html = '';
                $.each(row, function (key, val) {
                    html += "<p>" + key + ":" + val + "</p>"
                });
                return html;
            }
        });

        $("#NewRecord").click(function () {
            $("#removeRecord").hide();
            $('#iName').addClass("warning");
            myViewModel.iGuid("");
            myViewModel.iName("");
            myViewModel.iNote("");
            myViewModel.iCreatedOn("");
            myViewModel.iCreatedBy("");
            myViewModel.iUpdatedOn("");
            myViewModel.iUpdatedBy("");
            myViewModel.iStatus("1");
            myViewModel.iIsDeleted("0");
            $("#addModalLabel").html("添加记录");
        });

        $("#SaveChanges").click(function () {
            var warnings = $(".warning");
            if (warnings && warnings.length > 0) {
                toastr.error('数据验证未通过！');
                return;
            }
            $(this).attr({ "disabled": "disabled" });

            var param = {};
            param.jsonString = ko.toJSON(myViewModel);
            $.ajax({
                url: "/ManageAjax/RoleSaveChanges",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "success") {
                        toastr.success('保存成功！');
                        $('#mytab').bootstrapTable('refresh');
                    }
                    else {
                        console.log(data);
                        toastr.error('保存数据失败！');
                    }
                    $('#addModal').modal('toggle');
                    $("#SaveChanges").removeAttr("disabled");
                }
            });
        });
        $("#removeRecord").click(function () {
            if (confirm("如果该角色已被使用，删除将丢失所有该角色的数据，确认要删除？")) {
                var param = {};
                myViewModel.iIsDeleted("1");
                param.jsonString = ko.toJSON(myViewModel);
                $.ajax({
                    url: "/ManageAjax/RoleSaveChanges",
                    type: "POST",
                    data: param,
                    dataType: 'text',
                    success: function (data) {
                        if (data == "success") {
                            toastr.success('删除成功！');
                            $('#mytab').bootstrapTable('refresh');
                        }
                        else {
                            console.log(data);
                            toastr.error('删除数据失败！');
                        }
                        $('#addModal').modal('toggle');
                    }
                });
            }
        });

        $("#SetRoleUsersSaveChanges").click(function () {
            var usersStr = $('#settingRoleId').val() + "$";
            $.each($('input[name=RoleUsers]'), function (index, item) {
                usersStr += (item.id + "§" + item.value + "|");
            });

            var param = {};
            param.usersStr = usersStr.substr(0,usersStr.length-1);
            $.ajax({
                url: "/ManageAjax/RoleUsersSaveChanges",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "success") {
                        toastr.success('保存成功！');
                    }
                    else {
                        console.log(data);
                        toastr.error('保存数据失败！');
                    }
                    $('#setRoleUserModal').modal('toggle');
                }
            });
        });

    })
</script>
