@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .modal-body {
        height: 230px;
    }
</style>

<div>
    <div>
        <div class="col-*-12">
            <div id="toolbar" class="toolbar">
                <div style="float: right; margin-right: 10px; margin-top: 5px; " class="btn btn-primary" data-toggle="modal" data-target="#addModal" id="NewRecord">添加记录</div>
            </div>

            <table id="mytab" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="addModalLabel">添加记录</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                用户名(工号)：<input type="text" class="form-control" id="iEmployeeCodeId" data-bind="value: iEmployeeCodeId" placeholder="请输入工号">
                            </div>
                            <div class="form-group">
                                姓名：<input type="text" class="form-control" id="iUserName" data-bind="value: iUserName" placeholder="请输入姓名">
                            </div>
                            <div class="form-group">
                                密码：<input type="text" class="form-control" id="iPassWord" data-bind="value: iPassWord" placeholder="请输入密码">
                            </div>
                            <div class="form-group">
                                用户类型：【尽量不要下放超级管理员权限】<select class="form-control" id="iUserType" data-bind="value: iUserType">
                                    <option value="普通用户">普通用户</option>
                                    <option value="超级用户">超级用户</option>
                                    <option value="超级管理员">超级管理员</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <h5>说明：普通用户需要被授权公司项目及可使用的功能，只能访问限定公司项目的限定功能。超级用户需要授权可使用的功能，可以访问所有公司所有项目的限定的功能。超级管理员可使用本系统所有公司项目及所有功能。</h5>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="removeRecord">删除</button>
                            <button type="button" class="btn btn-primary" id="SaveChanges">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="companyProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="menuModalLabel">公司项目修改</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="zTreeDemoBackground left">
                                    <ul id="companyProjectWriteTree" class="ztree"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="companyProjectSaveChanges">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="menuModalLabel">菜单权限修改</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="zTreeDemoBackground left">
                                    <ul id="companyProjectReadTree" class="ztree"></ul>
                                </div>
                                <div class="zTreeDemoBackground right">
                                    <ul id="menuTree" class="ztree"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="MenuSaveChanges">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="editUserId" />
        </div>
    </div>
</div>

<script type="text/javascript">
    //json 日期转字符串
    function ChangeDateFormat(jsondate) {
        if (!jsondate) return "";
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

        return date.getFullYear()
            + "-"
            + month
            + "-"
            + currentDate
            + " "
            + date.getHours()
            + ":"
            + date.getMinutes();
    }
    //bootstraptable 高度
    function tableHeight() {
        return $(window).height() * 0.86;
    }
    function ViewModel() {
        var self = this;
        self.iEmployeeCodeId = ko.observable("");
        self.iUserName = ko.observable("");
        self.iPassWord = ko.observable("");
        self.iUserType = ko.observable("");
        self.iCreatedOn = ko.observable("");
        self.iCreatedBy = ko.observable("");
        self.iUpdatedOn = ko.observable("");
        self.iUpdatedBy = ko.observable("");
        self.iStatus = ko.observable("1");
        self.iIsDeleted = ko.observable("0");
    }
    $(function () {
        //Mvvm绑定
        var myViewModel = new ViewModel();
        ko.applyBindings(myViewModel);
        //重置函数
        $("div.icon-reorder").click(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //根据窗口调整表格高度
        $(window).resize(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //必填,唯一校验
        $("#iEmployeeCodeId").change(function () {
            var value = $("#iEmployeeCodeId").val();
            var param = {};
            param.iEmployeeCodeId = value;
            $.ajax({
                url: "/ManageAjax/CheckUserValid",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "valid") {
                        if ($('#iEmployeeCodeId').hasClass("warning")) {
                            $('#iEmployeeCodeId').removeClass("warning");
                        }
                    }
                    else {
                        $('#iEmployeeCodeId').addClass("warning");
                    }
                }
            });
        });

        $('#mytab').bootstrapTable({
            url: "/ManageAjax/GetAllUsers",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "iUpdatedOn",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: true,//ENTER键搜索
            height: tableHeight(),//高度调整
            search: true,//是否搜索
            pagination: true,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 50, 100, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            queryParams: function getParams(params) {
                return params;
            },
            searchOnEnterKey: false,//回车搜索
            showRefresh: true,//刷新按钮
            showColumns: true,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            columns: [
                {
                    field: "iUserName",
                    title: "姓名",
                    sortable: true
                },
                {
                    field: "iEmployeeCodeId",
                    title: "用户名(工号)",
                    sortable: true
                },
                {
                    field: "iPassWord",
                    title: "密码",
                    sortable: true
                },
                {
                    field: "iUserType",
                    title: "用户类型",
                    sortable: true
                },
                {
                    field: "iUpdatedOn",
                    title: "最近修改时间",
                    sortable: true,
                    formatter: function (value, row, index) {
                        return ChangeDateFormat(value);
                    }
                },
                {
                    field: "operation1",
                    title: "公司项目",
                    formatter: 'SettingCompanyProject',//对本列数据做格式化
                },
                {
                    field: "operation2",
                    title: "菜单权限",
                    formatter: 'SettingMenu',//对本列数据做格式化
                }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
                $("#addModalLabel").html("修改记录");
                $('#iEmployeeCodeId').addClass("warning");
                myViewModel.iEmployeeCodeId(row.iEmployeeCodeId);
                myViewModel.iUserName(row.iUserName);
                myViewModel.iPassWord(row.iPassWord);
                myViewModel.iUserType(row.iUserType);
                myViewModel.iCreatedOn(row.iCreatedOn);
                myViewModel.iCreatedBy(row.iCreatedBy);
                myViewModel.iUpdatedOn(row.iUpdatedOn);
                myViewModel.iUpdatedBy(row.iUpdatedBy);
                myViewModel.iStatus(row.iStatus);
                myViewModel.iIsDeleted(row.iIsDeleted);
                $('#addModal').modal('toggle');
            },
            locale: "zh-CN",//中文支持,
            detailView: false, //是否显示详情折叠
            detailFormatter: function (index, row, element) {
                var html = '';
                $.each(row, function (key, val) {
                    html += "<p>" + key + ":" + val + "</p>"
                });
                return html;
            }
        });

        $("#NewRecord").click(function () {
            $("#removeRecord").hide();
            $('#iEmployeeCodeId').addClass("warning");
            myViewModel.iEmployeeCodeId("");
            myViewModel.iUserName("");
            myViewModel.iPassWord("");
            myViewModel.iUserType("普通用户");
            myViewModel.iCreatedOn("");
            myViewModel.iCreatedBy("");
            myViewModel.iUpdatedOn("");
            myViewModel.iUpdatedBy("");
            myViewModel.iStatus("1");
            myViewModel.iIsDeleted("0");
            $("#addModalLabel").html("添加记录");
        });

        $("#SaveChanges").click(function () {
            var warnings = $(".warning");
            if (warnings && warnings.length > 0) {
                toastr.error('数据验证未通过！');
                return;
            }
            $(this).attr({"disabled":"disabled"});

            var param = {};
            param.jsonString = ko.toJSON(myViewModel);
            $.ajax({
                url: "/ManageAjax/UserSaveChanges",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "success") {
                        toastr.success('保存成功！');
                        $('#mytab').bootstrapTable('refresh');
                    }
                    else {
                        console.log(data);
                        toastr.error('保存数据失败！');
                    }
                    $('#addModal').modal('toggle');
                    $("#SaveChanges").removeAttr("disabled");
                }
            });
        });
        $("#removeRecord").click(function () {
            if (confirm("确认要删除？")) {
                var param = {};
                myViewModel.iIsDeleted("1");
                param.jsonString = ko.toJSON(myViewModel);
                $.ajax({
                    url: "/ManageAjax/UserSaveChanges",
                    type: "POST",
                    data: param,
                    dataType: 'text',
                    success: function (data) {
                        if (data == "success") {
                            toastr.success('删除成功！');
                            $('#mytab').bootstrapTable('refresh');
                        }
                        else {
                            console.log(data);
                            toastr.error('删除数据失败！');
                        }
                        $('#addModal').modal('toggle');
                    }
                });
            }
        });

        //绑定 公司项目设置树,菜单树,公司项目只读树动态加载
        var companyProjectWriteSetting = {
            check: {
                enable: true,
                chkStyle: "checkbox",
                chkboxType: { "Y": "ps", "N": "ps" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback : {
            }
        };
        var companyProjectNodes = @(Html.Raw(ViewBag.companyProjectNodes));
        $.fn.zTree.init($("#companyProjectWriteTree"), companyProjectWriteSetting, companyProjectNodes);

        var menuSetting = {
            check: {
                enable: true,
                chkStyle: "checkbox",
                chkboxType: { "Y": "ps", "N": "ps" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback : {
                //onClick : changeRight
            }
        };
        var menuNodes = @(Html.Raw(ViewBag.treeNodes));
        $.fn.zTree.init($("#menuTree"), menuSetting, menuNodes);

        $("#companyProjectSaveChanges").click(function () {
            $(this).attr({ "disabled": "disabled" });
            var zTree = $.fn.zTree.getZTreeObj("companyProjectWriteTree");
            var nodes = zTree.getCheckedNodes();
            var checkNodeIds =[];
            for (var n in nodes){
                checkNodeIds.push(nodes[n].id);
            }
            var userid = $("#editUserId").val();
            var param = {};
            param.jsonString = JSON.stringify(checkNodeIds);
            param.userid = userid;
            $.ajax({
                url: "/ManageAjax/UserCompanyProjectSaveChanges",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "success") {
                        toastr.success('保存成功！');               
                        $('#companyProjectModal').modal('toggle');
                        $("#companyProjectSaveChanges").removeAttr("disabled");

                    }
                    else {
                        toastr.error('保存失败！');
                        console.log(data);
                    }
                }
            });
        });

    })

    function SettingCompanyProject(value, row, index) {
        $("#editUserId").val(row.iEmployeeCodeId);
        if (row.iUserType == "普通用户") {
            return '<a href="#" onclick="SetCompanyProject(\'' + row.iEmployeeCodeId + '\')">点击设定</a>';
        }
    }
    function SettingMenu(value, row, index) {
        $("#editUserId").val(row.iEmployeeCodeId);
        if (row.iUserType != "超级管理员") {
            return '<a href="#" onclick="SetMenu(\'' + row.iEmployeeCodeId + '\')">点击设定</a>';
        }
    }
    function SetCompanyProject(iEmployeeCodeId) {
        $('#companyProjectModal').modal('toggle');       
        var width = $("#companyProjectModal").width();
        var height = $("#companyProjectModal").height();
        var $shade = $('<div id="waiting"></div>');
        $shade.css({ width: '100%', height: '100%', position: 'absolute', top: 0, left: 0, background: '#fff url(/Content/images/waiting.gif) center center no-repeat', opacity: 0.4 });
        $("#companyProjectModal").append($shade);
        $.get("/ManageAjax/GetUserCompanyProjectTree?userid=" + iEmployeeCodeId, function(result){
            var treeObj = $.fn.zTree.getZTreeObj("companyProjectWriteTree");
            treeObj.checkAllNodes(false);
            treeObj.setting.check.chkboxType.Y = "";  //清除上下级全选影响
            var data = result.data;
            for (var x in data)
            {
                var node = treeObj.getNodeByParam("id", data[x], null);
                if(node){
                    treeObj.checkNode(node, true, true);
                }
                else{
                    console.log("未找到结点id为" + x);
                }
            }
            treeObj.setting.check.chkboxType.Y = "ps"; //还原上下级全选影响
            $shade.remove();
        });
    }
    function SetMenu(iEmployeeCodeId) {
        $('#menuModal').modal('toggle');
    }


</script>
