@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .search{
        width:auto;
    }
</style>

<table class="table" id="dataShow">
    <thead>
        <tr>
            <th data-checkbox="true">选择</th>
            <th data-field="rkey">供应商名称</th>
            <th data-field="rkey">供应商编码</th>
            <th data-field="name">物料编码</th>
            <th data-field="sex">申请类型</th>
            <th data-field="birthdayString">试用申请编码</th>
            <th data-field="age">试用状态</th>
            <th data-field="age">厂别</th>
            <th data-field="age">审批状态</th>
            <th data-field="birthday">申请时间</th>
            <th data-field="age">试用结果</th>
        </tr>
    </thead>
</table> 

<div>
    <div>
        <div class="col-*-12">

            <div id="toolbar">
                <div class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加记录</div>
            </div>

            <table id="mytab" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">添加记录</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" action="javascript:void(0)">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="age" placeholder="请输入年龄">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="addRecord">提交</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
        $(function() {
            //根据窗口调整表格高度
            $(window).resize(function() {
                $('#mytab').bootstrapTable('resetView', {
                    height: tableHeight()
                })
            })

            $('#mytab').bootstrapTable({
                url: "index.php",//数据源
                dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
                height: tableHeight(),//高度调整
                search: true,//是否搜索
                pagination: true,//是否分页
                pageSize: 20,//单页记录数
                pageList: [5, 10, 20, 50],//分页步进值
                sidePagination: "server",//服务端分页
                contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
                dataType: "json",//期待返回数据类型
                method: "post",//请求方式
                searchAlign: "left",//查询框对齐方式
                queryParamsType: "limit",//查询参数组织方式
                queryParams: function getParams(params) {
                    //params obj
                    params.other = "otherInfo";
                    return params;
                },
                searchOnEnterKey: false,//回车搜索
                showRefresh: true,//刷新按钮
                showColumns: true,//列选择按钮
                buttonsAlign: "left",//按钮对齐方式
                toolbar: "#toolbar",//指定工具栏
                toolbarAlign: "right",//工具栏对齐方式
                columns: [
                    {
                        title: "全选",
                        field: "select",
                        checkbox: true,
                        width: 20,//宽度
                        align: "center",//水平
                        valign: "middle"//垂直
                    },
                    {
                        title: "供应商编码",//标题
                        field: "rkey",//键名
                        sortable: true,//是否可排序
                        order: "desc"//默认排序方式
                    },
                    {
                        field: "name",
                        title: "供应商名称",
                        sortable: true,
                        titleTooltip: "this is name"
                    },
                    {
                        field: "age",
                        title: "年龄",
                        sortable: true,
                    },
                    {
                        field: "sex",
                        title: "性别",
                        formatter: 'infoFormatter',//对本列数据做格式化
                    }
                ],
                onClickRow: function(row, $element) {
                    //$element是当前tr的jquery对象
                    $element.css("background-color", "green");
                },//单击row事件
                locale: "zh-CN",//中文支持,
                detailView: false, //是否显示详情折叠
                detailFormatter: function(index, row, element) {
                    var html = '';
                    $.each(row, function(key, val){
                        html += "<p>" + key + ":" + val +  "</p>"
                    });
                    return html;
                }
            });

            $("#addRecord").click(function(){
                alert("name:" + $("#name").val() + " age:" +$("#age").val());
            });
        })

        function tableHeight() {
            return $(window).height() - 50;
        }
        function infoFormatter(value, row, index)
        {
            return "id:" + row.id + " name:" + row.name + " age:" + row.age;
        }
</script>

<script>
    var currPageIndex = 0;
    var currLimit = 10;

    $(function () {
        $("#dataShow").bootstrapTable({
            url: "/Home/GetAllPeople",
            sortName: "rkey",//排序列  
            cache: false, 
            striped: true,//條紋行  
            sidePagination: "server",//服务器分页  
            showRefresh: true,//刷新功能  
            search: true,//搜索功能  
            clickToSelect: true,//选择行即选择checkbox  
            //singleSelect: true,//仅允许单选  
            searchOnEnterKey: true,//ENTER键搜索  
            //showColumns: true, //选择显示列
            pageList: [10],
            pagination: true,//启用分页  
            escape: true,//过滤危险字符  
            queryParams: getParams,//携带参数  
            pageSize: 10,//每页行数  
            pageNumber: 1,//起始页  
            method: "get",//请求格式  
            toolbar: "#toolBar",  
            onDblClickRow: function (row, $element) {
                alert("edit");
            }
        });
    });
    //默认加载时携带参数  
    function getParams(params) {
        return params;
    }
</script>
