@{
    ViewBag.Title = "备用金还款再申请";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div>
    <div>
        <div class="row col-*-12">
            <span style="color:red">说明：</span>备用金还款可以是从本流程发起，也可以是流水账冲账以及返费冲账。此处只抵扣流程已通过审核的流程账单。

            <div id="toolbar" class="toolbar">
                <div style="float: left;margin-left:-150px;"><span>原流程待还金额：</span><span id="iAmountLeftOld"></span></div>
                <div style="float: left;margin-left:0;"><span>待还金额：</span></div>
                <div style="float: left; margin-left: 50px; width: 20%"><input id="iAmountLeft" class="form-control" readonly="readonly" value="0" /></div>

                <div style="float: left; margin-left: 10px"><span>处理意见：</span></div>
                <div style="float: left; margin-left: 10px; width: 25%"><input id="sys_feedback" class="form-control" /></div>
                <div style="float: right; margin-left: 10px; margin-top: 5px; " class="btn btn-primary" id="SubmitApplication">提交申请</div>
                <div style="float: right; margin-left: 10px; margin-top: 5px; " class="btn btn-primary" id="CancelApplication">撤销申请</div>

            </div>

        </div>
        <table id="mytab" class="table table-hover"></table>

    </div>

    <table id="logtab" class="table table-hover"></table>
</div>

<script type="text/javascript">
    //json 日期转字符串
    function ChangeDateTimeFormat(jsondate) {
        if (!jsondate) return "";
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        return date.getFullYear()
               + "-"
               + month
               + "-"
               + currentDate
               + " "
               + ((date.getHours() < 10) ? ("0" + date.getHours()) : date.getHours())
               + ":"
               + ((date.getMinutes() < 10) ? ("0" + date.getMinutes()) : date.getMinutes());

    }

    //获取当前url参数
    function GetRequest(imitateurl) {
        var url = location.search; //获取url中"?"符后的字串
        if (imitateurl) url = imitateurl;
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }


    //bootstraptable 高度
    function tableHeight() {
        return $(window).height() * 0.6;
    }
    $(function () {
        var Request = GetRequest();
        //重置函数
        $("div.icon-reorder").click(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //根据窗口调整表格高度
        $(window).resize(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        $('#mytab').bootstrapTable({
            url: "/AdvanceFundAjax/SearchAdvanceFund",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "ISNULL(iPaidDate, iCreatedOn)",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            height: tableHeight(),//高度调整
            search: false,//是否搜索
            pagination: true,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 100, 500, 1000, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            showRefresh: false,//刷新按钮
            showColumns: false,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            queryParams: function getParams(params) {
                params.appno = Request["appno"];
                return params;
            },
            columns: [
                 {
                     field: 'Number',
                     title: '序号',
                     formatter: function (value, row, index) {
                         return ($('#mytab').bootstrapTable('getOptions').pageNumber - 1) * $('#mytab').bootstrapTable('getOptions').pageSize + index + 1;
                     }
                 },
                 { field: "iGuid", title: "iGuid", visible: false, switchable: false }
                 , { field: "iCompanyId", title: "公司", visible: false }
                 , { field: "iProjectId", title: "项目", visible: false }
                 , { field: "iApplicant", title: "提报人", visible: false, sortable: true }
                 , {
                     field: "iCreatedOn", title: "发起日期", sortable: false, formatter: function (value, row, index) {
                         return ChangeDateTimeFormat(value);
                     }
                 }
                 , { field: "iChecked", title: "是否核销", visible: false, sortable: false }
                 , {
                     field: "iPaidDate", title: "核销日期", sortable: false, formatter: function (value, row, index) {
                         return ChangeDateTimeFormat(value);
                     }
                 }
                 , {
                     field: "iRecordNote", title: "系统备注", sortable: false, formatter: function (value, row, index) {
                         return value + ((row.iChecked == null) ? "<span style='color:red'>[审核中]</span>" : "");
                     }
                 }
                 , { field: "iAppNo", title: "流程单号", sortable: false }
                 , { field: "iAmount", title: "金额", sortable: false }
                 , { field: "iLeft", title: "剩余待还", sortable: false }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
                return;
            },
            onLoadSuccess: function (data) {
                $("#iAmountLeft").val(data.sum);
                $("#iAmountLeftOld").text(data.appAmount);
                if (data.rows.length > 0) {
                    var temp = data.sum;
                    var tempValidAmountForNextCal = 0;
                    var firstRowSettled = false;
                    if (data.rows[0].iChecked != null) {
                        $("#mytab").find("tr[data-index=0] td:last").text(temp);
                        firstRowSettled = true;
                        tempValidAmountForNextCal = data.rows[0].iAmount;
                    }

                    for (var i = 1; i < data.rows.length; i++) {
                        if (!firstRowSettled) {
                            if (data.rows[i].iChecked != null) {
                                $("#mytab").find("tr[data-index=" + i + "] td:last").text(temp);
                                firstRowSettled = true;
                                tempValidAmountForNextCal = data.rows[i].iAmount;
                            }
                        }
                        else {
                            if (data.rows[i].iChecked == null) {
                                continue;
                            }
                            temp = temp - tempValidAmountForNextCal;
                            $("#mytab").find("tr[data-index=" + i + "] td:last").text(temp);
                            tempValidAmountForNextCal = data.rows[i].iAmount;
                        }
                    }
                }
            },
            locale: "zh-CN",//中文支持,
            detailView: true, //是否显示详情折叠
            detailFormatter: function (index, row, element) {
                var html = '';
                $.each(row, function (key, val) {
                    if (key == "iReason")
                        html += "<p>事由：" + val + "</p>"
                    else if (key == "iNote")
                        html += "<p>备注：" + val + "</p>"

                });
                return html;
            }
        });

        $('#logtab').bootstrapTable({
            url: "/BPMAjax/GetFlowLogs",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "ApproveTime",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: false,//ENTER键搜索
            height: $(window).height() * 0.3,//高度调整
            search: false,//是否搜索
            pagination: false,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 100, 500, 1000, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            showRefresh: false,//刷新按钮
            showColumns: false,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            //toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            queryParams: function getParams(params) {
                params.appno = Request["appno"];
                params.limit = 1000;
                return params;
            },
            columns: [
                 {
                     field: 'Number',
                     title: '序号',
                     formatter: function (value, row, index) {
                         return ($('#logtab').bootstrapTable('getOptions').pageNumber - 1) * $('#logtab').bootstrapTable('getOptions').pageSize + index + 1;
                     }
                 }
                 , {
                     field: "ApproverName", title: "审批人", formatter: function (value, row, index) {
                         return row.ApproverName + "(" + row.ApproverId + ")";
                     }
                 }
                 , { field: "StepName", title: "步骤名称" }
                 , { field: "ApproveTypeName", title: "审批结果" }
                 , { field: "FeedBack", title: "审批意见" }
                 , {
                     field: "CreateTime", title: "审批时间", formatter: function (value, row, index) {
                         return ChangeDateTimeFormat(value);
                     }
                 }
            ],
            onClickRow: function (row, $element) {
            },//单击row事件
            onDblClickRow: function (row, $element) {
                return;
            },
            locale: "zh-CN",//中文支持,
            detailView: false, //是否显示详情折叠
            detailFormatter: function (index, row, element) {
                var html = '';
                $.each(row, function (key, val) {
                    html += "<p>" + key + ":" + val + "</p>"
                });
                return html;
            }
            ,
            onLoadSuccess: function (data) {
                $("#iAmountLeft").text(data.appAmount);
                $.each(data.rows, function (i, item) {
                    if (item.AppNo == "active") {
                        $("#logtab").find("tr[data-index=" + i + "]").css("color", "red");
                    }
                })
            }
        });

        $("#SubmitApplication").click(function () {
            if ($("#companySelect").val() == "-") {
                toastr.error('请先选择当前公司！');
                return;
            }
            if (confirm("确认再申请？")) {

                $(this).attr({ "disabled": "disabled" });
                var para = {};
                var conditions = {};
                conditions.sys_approve = "1";
                conditions.sys_approvecn = "再提交申请";
                conditions.sys_feedback = $("#sys_feedback").val();
                conditions.sys_summary = "申请备用金还款：" + $('#iAmount').val();
                para.Conditions = conditions;
                para.ProcessInstanceID = Request["piid"]; //important
                para.AppName = "";
                para.AppInstanceID = Request["appno"]; //important
                para.ProcessGUID = Request["pguid"];  //申请时必要 important
                para.UserID = "@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserId";
                para.UserName = "";
                para.TaskID = Request["taskid"];  //important
                para.Other = $("#iAmountLeft").val();

                $.ajax({
                    url: "/BPMAjax/ReStartApplication",
                    type: "POST",
                    data: para,
                    dataType: 'text',
                    success: function (result) {
                        result = $.parseJSON(result);
                        if (result.success) {
                            toastr.success('提交成功！');
                            //$('#mytab').bootstrapTable('removeAll');
                            setTimeout("window.location.href='/BPM/done'", 3000);
                        }
                        else {
                            toastr.error('提交失败！');
                        }
                        $("#SubmitApplication").removeAttr("disabled");
                    }
                });
            }

        });
        $("#CancelApplication").click(function () {
            if (confirm("确认要撤销申请？")) {
                $(this).attr({ "disabled": "disabled" });
                var para = {};
                var conditions = {};
                conditions.sys_approve = "-10";
                conditions.sys_approvecn = "撤销申请";
                conditions.sys_feedback = $("#sys_feedback").val();
                conditions.sys_summary = "申请备用金还款：" + $('#iAmount').val();
                para.Conditions = conditions;
                para.ProcessInstanceID = Request["piid"]; //important
                para.AppName = "";
                para.AppInstanceID = Request["appno"]; //important
                para.ProcessGUID = Request["pguid"];  //申请时必要 important
                para.UserID = "@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserId";
                para.UserName = "";
                para.TaskID = Request["taskid"];  //important
                para.Other = "";

                $.ajax({
                    url: "/BPMAjax/CancelApplication",
                    type: "POST",
                    data: para,
                    dataType: 'text',
                    success: function (result) {
                        result = $.parseJSON(result);
                        if (result.success) {
                            toastr.success('撤销成功！');
                            //$('#mytab').bootstrapTable('removeAll');
                            setTimeout("window.location.href='/BPM/done'", 3000);
                        }
                        else {
                            toastr.error('撤销失败！');
                        }
                        $("#CancelApplication").removeAttr("disabled");
                    }
                });
            }
        });

    })
</script>
